@charset "ISO-8859-1";

html {
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "Alegreya", serif;
}

header {
	display: flex;
	z-index: 2;
	height: 65px;
	justify-content: space-between;
	background-color: white;
	box-shadow: rgb(220, 220, 220) 0px 2px 8px;
	position: sticky;
	top: 0px;
}

header a {
	text-decoration: none;
	color: black;
}

.logo-div {
	display: flex;
	width: 180px;
	height: 68px;
	align-items: center;
	justify-content: space-evenly;
}

.logo-div:hover {
	cursor: pointer;
}

.logo-pic {
	width: 40px;
	border-radius: 50%;
}

.logo-name {
	font-family: "Rajdhani", sans-serif;
	font-size: 29px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0rem;
}



nav {
	display: flex;
	align-items: center;
	width: 514px;
	gap: 45px;
	justify-content: end;
	margin-right: 25px;
	position: relative;
}

.nav-list {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.register {
	display: flex;
	gap: 30px;
	align-items: center;
	width: max-content;
	/* display: none; */
	/* margin-right: 10px; */
}

.profile {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	cursor: pointer;
	display: block !important;
}

.login-btn, .signup-btn {
	/* font-size: 20px;
  font-weight: lighter;
  transition: 0.5s;
 

  color: black;
  padding: 6px 15px;
  background-color: #94ca65;
  border: none;
  border-radius: 8px; */
	margin: 0px 3px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	/* font-weight: bold; */
	/* padding: 0.5em 1em; */
	font-size: 20px;
	/* text-transform: uppercase; */
	/* letter-spacing: 2.5px; */
	/* font-weight: 500; */
	color: #000;
	background-color: #fff;
	border: none;
	/* border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0.1, 0, 0, 0.1);
  transition: all 0.3s ease 0s; */
	cursor: pointer;
	outline: none;
}

.login-btn:hover {
	cursor: pointer;
	color: #2a850e;
	border-bottom: 2px solid;

	/* font-size: 25px;  */
	/* background-color: #23c483; */
	/* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
	/* color: #fff; */
	/* transform: translateY(-7px); */
}

.signup-btn:hover {
	cursor: pointer;
	background-color: #588b2c;
}

.signup-btn {
	background-color: #94ca65;
	padding: 12px;
}

.nav-links a {
	color: #132a13;
	transition: 0.3s;
}

.nav-list:active {
	opacity: 0.3;
}

.login-btn:active {
	opacity: 0.3;
}

.nav-list:hover {
	color: #2a850e;
	/* font-size: 25px; */
	border-bottom: 2px solid;
}

.dropdown-content {
	display: none;

	/* 
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; */
}

.dropdown-content a {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	text-align: center;
	padding: 3px;
}

.dropdown-content a:hover {
	background-color: wheat;
}

.show {
	position: absolute;
	bottom: -80px;
	height: 60px;
	right: -18px;
	width: 80px;
	display: flex;
	flex-direction: column;
	gap: 9px;
	background-color: white;
	text-align: center;
	font-size: 19px;
	padding-top: 10px;
	padding-bottom: 10px;
}